<section class="aboutus section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="history-title mb-md-40">
                    <h2 class="text-light-black">WER WIR SIND. WOHER WIR KOMMEN.</h2>
                    <!--<a routerLink="/about" class="btn-solid with-line btn-big mt-20"><span>Learn More <i class="fas fa-caret-right"></i></span></a>-->
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-sm-12 col-md-12" >
                        <div class="histry-img mb-xs-20">
                            <img src="/assets/img/about.jpg" class="img-fluid full-width" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-2">
              <p class="text-light-white font-weight-lighter " style="font-size: 25px">Ist ein eingetragener entwicklungs- oder integrationspolitischer Verein mit Sitz in Dortmund-Dorstfeld. „ Wir sind eine interkulturelle Plattform für eine solidarische, menschenwürdige und nachhaltige Gesellschaft…“ Der Verein beschäftigt sich gegenwärtig schwerpunktmäßig mit folgenden Ziele und</p>

            </div>
        </div>
    </div>
</section>
