.header-title::after{
  position: absolute;
  left: 20px;
  bottom: 1em;
  content: " ";
  height: 3px;
  width: 70px;
  display: inline-block;
  background-color: #01585e;
}

.partner-container {
  display: flex;
}
.partner-item {
  padding: 10px;
}
