<section class="our-articles bg-light-theme section-padding ">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="full-width">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <article class="blog-item blog-item-box">
                <div>
                  <header class="entry-header">
                    <img [style.width.%]="100" height="520" src="/assets/img/what-we-do/wwd.jpg"
                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                  </header>

                  <div class="mt-4">
                    <h4>Goals:</h4>
                    <ul>
                      <li>To promote solidarity among people from different cultures and backgrounds</li>
                      <li>To promote family and parents work efforts</li>
                      <li>To promote education and good health</li>
                      <li>To promote the different aspects of intercultural and educational development</li>
                      <li>To hold campaigns concerning resources which will be a great deal more beneficial in the
                        future
                      </li>
                      <li>To commit to a better future and a more sustainable society</li>
                    </ul>
                    <h4 class="mt-3">Projects</h4>
                    <h5>1st women’s meeting “Talk Together”</h5>
                    <ul>
                      <li>Workshop – Your Health, Your Rights Part I</li>
                      <li>Women struggles between career and family</li>
                      <li>Trips to the beekeeper</li>
                      <li>Intercultural family outings</li>
                      <li>Back To School</li>
                      <li>Your Health, Your Rights Part II</li>
                      <li>Voluntary networking between local associates</li>
                    </ul>
                    <h5 class="my-4">2.KOMM-AN NRW 2019</h5>
                    <ul>
                      <li>Münsterstrasse Festival of the Integration Council of the City of Dortmund</li>
                      <li>My Dortmund-political-social-historical, “A trip to the Dortmund town hall”</li>
                      <li>Food connects people and cultures</li>
                      <li>Networking</li>
                    </ul>
                    <h5 class="my-4">3. GAP health education work</h5>
                    <ul>
                      <li>Your health, Your faith, HIV prevention in African parishes “</li>
                      <li>Your Health, Your Faith – HIV Prevention In African Church Communities “</li>
                    </ul>
                    <h5 class="my-4">4. IMAGE district work in Dorstfeld, Scharnhorst</h5>
                    <li>Democracy Festival Love diversity, (Dorstfeld)</li>
                    <li>7 countries 7 courses (Scharnhorst)</li>

                    <h5 class="my-4">5. Developmental and educational work</h5>
                    <ul>
                      <li>Made by Me – Upcycling for young people by Community at Heart Dortmund e.V.</li>
                    </ul>
                  </div><!-- .entry-content -->
                  <footer class="entry-meta">
                  </footer><!-- .entry-meta -->
                </div>
              </article>
            </div>
          </div>
        </div>

        <!-- Pagination End -->
      </div>
      <aside class="col-xl-3 col-lg-4">
        <app-blog-sidebar
          [title]="title"
          [useTitle]="false"
          [enableCategories]="false"
          [enableTags]="false"
          [enableLastNews]="true"></app-blog-sidebar>
      </aside>
    </div>
  </div>
</section>
