<section class="section-padding blog-section bg-theme-primary">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left title">
          <h3 class="text-light-black header-title">VERANSTALTUNGEN/TERMINE</h3>
          <span *ngIf="data.length == 4" class="fs-16"><a routerLink="/blog-left">See All</a></span>
        </div>
      </div>
      <ng-container>
        <div class="col-xl-4">
          <div class="row">
            <div
              class=" col-xl-4 col-md-4 col-sm-6 col-xs-6 month-container"
              *ngFor="let item of monthToBeDisplayed"
              style="cursor: pointer"
            >
              <div
                (click)="onSelectMonth(item.id)"
                [ngStyle]="{'background-color': item.id >=  idMonth ? '#fff' : '#e0e0e0' }"
                [ngClass]="item.id === monthSelected && 'active'"
                class="product-box mb-md-20 d-flex justify-content-center align-item-center"
                style="height: 75px;font-weight: bold">
                {{item.month}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 event-container">
          <article
            *ngFor="let item of data | slice: 0 : 5"
            class="side-post pb-xl-20 mb-xl-20 u-line d-flex"
            style="cursor: pointer">
            <div class="thumb-img mr-2">
              <!--              <a routerLink="/shop-details/{{item.id}}">-->
              <img [src]="item.img" alt="cohedo" style="width:95px;height: 59px;object-fit: cover">
              <!--              </a>-->
            </div>
            <div class="content-wrap">
              <div class="entry-meta-content">
                <h6 class="entry-title">
                  <div class="text-light-black">{{item.theme}}</div>
                </h6>
                <div class="entry-tye">
                  <span class="text-price">{{item.date | date}}</span>
                </div>
              </div>
            </div>
          </article>
          <ng-template [ngIf]="data.length === 0">
            <div class="d-flex justify-content-center">
              Unfortunately, there are no events or dates in the month you have selected.
            </div>
          </ng-template>

        </div>

      </ng-container>
    </div>
  </div>
</section>
