<app-top-bar></app-top-bar>
<app-header></app-header>
<app-banner></app-banner>
<app-service-type></app-service-type>
<app-blog-post></app-blog-post>
<app-video-cta></app-video-cta>
<app-donation-box></app-donation-box>
<app-best-sellers [title]="'Unterstützer'"></app-best-sellers>
<app-aktual-box></app-aktual-box>
<app-testimonials></app-testimonials>
<app-best-sellers [title]="'Partner'" [umber]="false" [partner]="true"></app-best-sellers>
<app-various-box></app-various-box>
<app-footer></app-footer>
