<section class="our-articles bg-light-theme section-padding ">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="full-width">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <article class="blog-item blog-item-box">
                <div>
                  <header class="entry-header">
                    <div class="container py-5">

                      <div class="row text-center ">
                        <div class="col-xl-4 mb-5" *ngFor="let team of teams">
                          <app-teams [team]="team" ></app-teams>
                        </div>
                      </div>
                    </div>
                  </header>
                </div>
              </article>
            </div>
          </div>
        </div>

        <!-- Pagination End -->
      </div>
      <aside class="col-xl-3 col-lg-4">
        <app-blog-sidebar
          [title]="title"
          [useTitle]="false"
          [enableCategories]="false"
          [enableTags]="false"
          [enableLastNews]="true"></app-blog-sidebar>
      </aside>
    </div>
  </div>
</section>
